*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 32px;
    margin-bottom: 75px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.border{
    border: 2px dashed black;
}

.btn{
    text-align: center;
    background-color: #0061ff;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.big-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* navbar */

nav{
    padding:24px 14px;

    /* background-color: aqua; */
}

nav ul{
    list-style-type: none;
}

nav a{
    font-size: 1em;
    text-decoration: none;
    color:black;
}


.left-side.row, .left-side.row ul, .right-side.row ul{
    gap:40px;
    align-items: center;
}

.left-side.row ul, .right-side.row ul{
    justify-content: center;
    flex-wrap: wrap;
}


.right-side.row{
    gap:20px;
    align-items: center;
}

 nav a.btn{
    padding: 10px 16px;

    color:white;
    text-decoration: none;
}

/* fine navbar */


/* main */

/* header */

header{
    background-color: #b4d0e7;
    padding-top:calc(120px - 62px); /*padding misurato dal documento - traslazione verso il basso del container*/
    /* padding-bottom:24px; */

    margin-bottom: 150px;
}

h1{
    font-size: 58px;
    margin-bottom: 80px;
}

.big-container.row{
    position:relative;
    bottom: -62px;
    flex-wrap: wrap;
}

.text-box{
    width: 30%;
}

header .text-box p{
    margin-bottom:38px;
}

header .btn{
    display: inline-block;
    text-decoration: none;
    color:white;

    padding: 16px;

    margin-bottom:36px;
}

header .fa-solid{
    font-size: 45px;
}

header .btn + div{
    margin-bottom: 80px;
}


.img-box{
    width: 70%;
}

header img{
    width: 100%;
}


/* fine header */

section{
    margin-bottom: 150px;
}

/* tariffe */

.radio.row{
    gap:50px;
    justify-content: flex-start;
}

input[name="fatturazione"]{
    margin-bottom: 53px;
}


.container .tariffe.row{
    flex-wrap: wrap;
    margin-bottom:50px;
}

.tariffe .tariffa{
    width: calc(100% / 3  - 50px / 3 * 2);
    border:2px solid #d9d9db
}

.tariffa.enterprice{
    width: 100%;
    border:2px solid #d9d9db

}


.tariffa .license-type{
    padding:12px;

    text-align: center;
    font-size: 12px;
    font-weight: 600;

    border-bottom:2px solid #d9d9db;
}

.tariffa .tariffa-inner{
    padding:40px 32px;
}

h3{
    font-size:18px;
    margin-bottom: 24px;
}

.price{
    font-size: 12px;
    margin-bottom:16px;
}

.period{
    color:gray;
    font-size:12px;

    margin-bottom: 60px;
}

.tariffa ul{
    list-style-type: none;
}

.tariffa .period + ul li:first-of-type::before{
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    color:black;
    font-weight: solid;
}

.tariffa .period + ul li:nth-of-type(2)::before{
    content: '\f07b';
    font-family: "Font Awesome 5 Free";
    color:black;
    font-weight: solid;
}


/* fix icona */
.tariffa .period + ul li:nth-of-type(3)::before{
    content: '\f1e1';
    font-family: "Font Awesome 5 Free";
    color:black;

}

.tariffa li{
    margin-bottom: 30px;;
}

.tariffa .btn{
    margin-bottom: 35px;
}

.tariffa .btn + div{
    margin-bottom: 40px;
}

.line{
    width: 50px;
    border:1px solid #d9d9db;

    margin-bottom: 55px;
}

.punti-salienti > div > strong{
    display: block;
    margin-bottom: 40px;
}

.tariffa-inner.row{
    gap:100px;
}

.tariffa-inner > div:first-of-type{
    width: 70%;
}

.tariffa-inner > div:nth-of-type(2){
    width: 30%;
}


.tariffa-inner .btn{
    display: block;
    padding: 16px 0;
}

.tariffa-inner a.btn{
    color:white;
    text-decoration: none;
}
/* fine tariffe */

/* partner */

#parners .container.row{
    gap:50px;
}

#partners .img-box{
    width: calc(70% - 50px); /*lunghezza - gap*/
}

#partners .img-box img{
    display: block;
    width: 100%;
}

#partners .text-box{
    padding: 60px 0;
}

#partners .titolo{
    font-size: 20px;
    margin-bottom: 22px;
}

#partners p{
    margin-bottom: 36px;
}

#partners .btn{
    display: inline-block;
    background-color: transparent;
    border: 2px solid #1b1b1b;
    padding:15px;
}

#partners a.btn{
    color: #1b1b1b;
    text-decoration: none;
}

/* fine partner */



/* info business */



.info-box-business.row{
    flex-wrap: wrap;
    gap:16px;
    row-gap: 75px;

    margin-bottom: 120px;
}

.info-box-business .info-inner{
    width: calc(100% / 3 - 16px / 3 * 2);
}

.info-box-business .info-img-box{
    width: 100%;
}

.info-img-box img{
    display: block;
    width: 100%;
}

.info-box-business .titolo{
    font-size: 18px;

    margin-bottom: 40px;
}

.testo-importante{
    width: 50%;
}


.testo-importante .titolo{
    font-size: 30px;

    margin-bottom: 68px;
}

/* fine info business */


/* info membri */


.left-right-company-box, .center-company-box{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.center-company-box{
    background-color: #f5f5f5;
    overflow: auto;
}

.team-box{
    padding:52px;
}

.team-box .team-img-box{
    margin-bottom: 46px;
}

.team-box img {
    max-width: 280px;
    width: 100%;
}

.team-box hr{
    max-width: 112px;
    margin-bottom: 46px;
}

.left-right-company-box.row{
    flex-wrap: wrap;
}

.company{
    width: 50%;
    height: 50%;
}

#designit.company{
    background-color: #a2d39b;
}

#arizona_state_university.company{
    background-color: #61082b;
}

#university_of_florida.company{
    background-color: #0093ce;
}

#topps.company{
    background-color: #ff1c1c;
}

#world_bicycle_relief.company{
    background-color: #d5001f;
}

#hearst_corp.company{
    background-color: #b4d0e7;
}

#lonely_planet.company{
    background-color: #0d2481;
}

#clear_channel.company{
    background-color: #ffd830;
}

.company img{
    position: relative;
    top:50%;
    left:50%;

    transform: translate(-50%, -50%);

    max-width: 150px;
    width: 100%;

    filter: invert(1);
}

.bottom-company-box{
    padding: 100px 0;
    background-color: #b4d0e7;
}

.bottom-company-box .container.row{
    align-items: flex-start;
}

.bottom-company-box .titolo{
    max-width: 40%;
    color:#61082b;
    font-size:30px;
    font-weight: 700;
}


.bottom-company-box .btn{
    display: block;
    padding:16px 55px;
    background-color: white;

    text-decoration: none;
    color:black;
}

/* fine info membri */


/* question */

.question-box{
    width: 100%;
}

.question-box{
    padding:45px 0;
}

.question{
    padding-right: 45px;
    font-weight: bold;

}

.answer{
    display: none;
}

.fa-solid.fa-chevron-up{
    display: none;
}

.question-box:hover .answer{
    display: block;
    margin-top: 20px;
}

.question-box:hover .fa-chevron-down{
    display: none;
}

.question-box:hover .fa-chevron-up{
    display: inline-block;
}

/* fine question */

/* footer */

footer{
    padding: 120px 0 50px;

    background-color: black;
}


footer .row{
    gap:100px;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom:120px;
}

footer .link{
    width: 140px;
}

footer ul{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color:white;
}

footer ul li{
    margin-bottom: 18px;
}

footer ul li:first-of-type{
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:34px;
}

footer hr{
    width: 126px;
    margin-bottom: 55px;
}

footer .lingua{
    color:#a4a4a4;
}

footer .fa-solid.fa-caret-up{
    vertical-align: baseline;
}

/* fine footer */


/* fine main */