*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */

body{
    font-family: sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
}

.border{
    border: 2px dashed black;
}

.btn{
    padding:16px;
    background-color: #0061ff;
}

.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.big-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


/* navbar */

nav{
    padding:24px 14px;

    background-color: aqua;
}

nav ul{
    list-style-type: none;
}

nav a{
    font-size: 1em;
    text-decoration: none;
    color:black;
}

.left-side.row, .left-side.row ul, .right-side.row ul{
    gap:40px;
    align-items: center;
}

.right-side.row{
    gap:20px;
    align-items: center;
}

.btn.btn-start{
    padding: 10px 16px;
}

/* fine navbar */


/* main */

/* header */

header{
    background-color: #b4d0e7;
    padding-top:120px;
    padding-bottom:24px;

    margin-bottom: 150px;
}

.big-container.row{
    flex-wrap: wrap;
    align-items: flex-start;
}

.titolo{
    height: 100px;
    /* test */
    
    width: 100%;
    background-color: blueviolet;

}

.text-box{
    height: 500px;
    /* test */
    width: 400px;

    background-color: red;
}


.img-box{
    height: 500px;
    /* test */
    flex-grow: 1;

    background-color: blue;
}



/* fine header */

section{
    margin-bottom: 150px;
}

/* tariffe */

.container .tariffe.row{
    flex-wrap: wrap;
}

.tariffe .tariffa{
    height: 600px;
    width: calc(100% / 3  - 50px / 3 * 2);

    background-color: pink;
}

.tariffa.enterprice{
    height: 200px;
    /* test */
    width: 100%;

}

/* fine tariffe */


/* info business */

.info-box-business.row{
    flex-wrap: wrap;
    gap:16px;

    margin-bottom: 120px;
}


.info-box-business .info-inner{
    height: 500px;
    /* test */

    width: calc(100% / 3 - 16px / 3 * 2);

    background-color: mediumturquoise;
}

.info-box-business .info-img-box{
    height: 200px;
    /* test */
    width: 100%;

    background-color: lawngreen;

}

.testo-importante{
    height: 100px;
    /* test */

    width: 100%;

    background-color: olivedrab;
}

/* fine info business */


/* info membri */


.left-right-company-box, .center-company-box{
    height: 400px;
    /* test */
    width: calc(100% / 3);
}

.left-right-company-box{
    background-color: slateblue;
}

.center-company-box{
    background-color: teal;
}

.left-right-company-box.row{
    flex-wrap: wrap;
}

.company{
    width: 50%;
    height: 50%;
    
    border: 1px dotted red;
    
}

.team.row{
    flex-wrap: wrap;
}

.bottom-company-box{
    padding: 100px 0;
    background-color: #b4d0e7;
}

.bottom-company-box .container{
    height: 100px;
    /* test */
}
/* fine info membri */


/* question */

.question-box{
    height: 400px;
    /* test */

    width: 100%;

    background-color: indigo;
}

.question-box.border{
    border:4px orangered dashed;
}

/* fine question */

/* footer */

footer{
    padding: 120px 0 50px;

    background-color: black;
}


footer .row{
    gap:100px;
    flex-wrap: wrap;
    align-content: center;
}

footer .link{
    height: 200px;
    /* test */

    width: 140px;

    background-color: seagreen;
}

/* fine footer */


/* fine main */